#backdropM {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  pointer-events: none;
  display: none;
}

#backdropM.visible {
  display: block;
  z-index: 9999;
  pointer-events: all;
}

#add-modalM .modal__content {
  display: flex;
  flex-direction: column;
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}

.modalM.visible {
  display: block;
  margin: auto;
  z-index: 9999;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal__mapImg {
  display: block;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  max-height: 400px;
}

.modalM {
  position: fixed;
  display: none;
  top: 27vh;
  width: 70vw;
  max-height: 500px;
  left: 15vw;
}

.modal__close-btn {
  display: block;
  font: inherit;
  color: #004e98;
  background-color: #ffffff;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 2rem;
  margin-bottom: 35px;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal__text {
  margin-top: 250px;
  text-align: center;
  color: #ffffff;
}
