

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.relative {
  position: relative;
}

  .nav__a-zero {
    a {
      padding-top: 0.5em;
      height: 0 !important;
    }
    min-height: 5em;
    position: absolute;
    z-index: 99;
    background-color: white;
    width: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }

.navbar__links {
  width: 100%;
  align-items: center;
  list-style: none;
}

.navbar__link--active {
  color: #c00 !important;
  text-decoration: line-through !important;
}

.navbar__link {
  list-style: none;
  text-decoration: none;
  color: navy;
  cursor: pointer;
}

  .blue {
    color: navy;
  }

  .navbar__grid1 {
    grid-column: 3/4;
  }

  .navbar__grid2 {
    grid-column: 6/7;
  }

  .navbar__grid3 {
    grid-column: 8/9;
  }

  .navbar__grid4 {
    grid-column: 10/11;

  }
   .section1__text {
    color: #c00;
    font-size: 40px;
    font-weight: bolder;
  }

  .section1__grid-text {
    grid-column: 4/10;
  }

  .section1__footer {
    color: navy;
    padding-top: 9rem
  }

  .section1__short-line {
    width: 7rem;
    height: 1px;
    background-color: navy;
  }

  .section1__link {
    font-weight: bold;
    text-decoration: none;
    list-style: none;
  }

  .short-line__grid1 {
    grid-column: 3/4;
  }

  .short-line__grid2 {
    grid-column: 6/7;
  }

  .short-line__grid3 {
    grid-column: 10/11
  }
  .section2 {
    margin-left: -22% !important;
    margin-right: -22% !important;
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 30px 0 30px;
    border-color: #ffffff transparent transparent transparent;
    display: block;
    margin: auto;
  }

  h5 {
    font-size: 5em;
    color: #c00;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  
  .section2__text { 
    font-size: 5em;
    text-align: center;
  }

  .section2__font1 {
    font-family: 'Gill Sans', 
    'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .section2__font2 {
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
  }

  .section2__font3 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through;
  }

  .section2__font4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
  }

  .fp-viewing-1-0 {
    .section2__text {
      animation: fadein 2s ease-in;
      font-size: 5em;
      grid-column: 5/9;
      text-align: center;
    }   
  }

  .section3__grid-text {
    grid-column: 4/10;
    margin-bottom: 6em;
  }

  .section3__text {
      color: navy;
      font-size: 40px;
      font-weight: bolder;
  }
  .red {
    color: #c00;
  }

  .section3__button {
    background-color: transparent;
    border: none;
    color: navy;
    font-size: 40px;
    margin: auto;
    display: block;
  }

  .section3__button:hover {
    color: #c00;
    text-decoration: line-through;
    cursor: pointer;
  }

  .section3__readMore-text {
    padding-bottom: 1em;
    margin-top: 4em;
    grid-column: 4/10;
    color: navy;
  }
  
  @keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.container__fonts-titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__fonts-name {
  grid-column: 3/4;
}

.container__fonts-place {
  grid-column: 6/7;
}

.container__fonts-plusminus {
  grid-column:10/11;
  display: flex;
  align-items: center;
}

.font-name {
  font-weight: bold;
  font-size: 3rem;
  color: navy;
  grid-column: 3/5;
}
.font-place {
  font-size: 3rem;
  color: navy;
  grid-column: 6/9;
}

  .container__line {
      display: block;
      margin: auto;
      width: 100%;
      height: 1px;
      background-color: navy;
      grid-column: 3/11;
  }

  input {
      font-size: 3rem;
      width: 100%;
      padding-top: 3rem;
      padding-bottom: 3rem;
  }
  input:focus {
    outline-width: 0px;
    font-size: 3rem;
    outline: none;
  }
  
  .input__font1 {
    font-family: 'Times New Roman', Times, serif;
    border: none;
  }
  .input__font2 {
    font-family: fantasy;
    border: none;
  }
  .input__font3 {
    font-family: 'Courier New', Courier, monospace;
    border: none;
  }

  .container__title {
    padding-top: 8em;
    color: navy;
  }

  
  .container__img-desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .body-margin {
    padding-left: 17% !important;
    padding-right: 17% !important;

    img {
      min-width: 47rem; //proporcja 1.57 height ustalone w const fadeout(Kroje_fonty)
    }
  }


  .container__desc{
    display: block;
    width: 100%;
    margin-top: -16px;
    margin-left: 15px
  }

  .container__download {
    display: block;
  }
  

  
    // RWB RWB RWB RWB RWB RWB RWB RWB RWB RWB RWB RWB





@media (max-width: 1500px) {

  .container__download {
    margin-top: -3rem
  }

}

@media (max-width: 1330px) {

  .container__download {
    margin-top: -6rem;
  }

  .section1__padding-text {
    padding-top: 5%;
  }


  .block {
    padding-top: 10%;
  }
}

