.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.map__grid {
  grid-column: 1/13;
  margin-bottom: 90px;
}

.map__header {
  color: #004e98;
  text-align: center;
  font-size: 26px;
  margin-top: 35px;
  font-weight: 700;
}
.map__header-text {
  color: #004e98;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.map__form {
  margin: 50px auto;
  height: 420px;
  width: 980px;
}

.map__form-header {
  padding-top: 35px;
  color: #004e98;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.map__marker-form {
  input {
    width: 50%;
    height: 2rem;
    padding-bottom: 0rem;
    border: 1px solid #004e98;
    padding-left: 7px;
    font-family: "Montserrat", sans-serif;
  }
  input:focus {
    outline-width: 1px;
    outline: none;
  }
}

.map__form-inputs {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.map__form-autocomplete {
  position: absolute;
  margin: auto;
  z-index: 99;
  overflow: auto;
  width: 50%;
  left: 25%;
  max-height: 290px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px gray;
}

.form-autocomplete__single {
  background-color: #004e98;
  color: #ffffff;
  cursor: pointer;
  line-height: 30px;
  padding-left: 10px;
}

.form-autocomplete__single:hover {
  background-color: #f83b15;
}

.map__form-choose {
  padding-top: 10px;
  color: #004e98;
  text-align: center;
}

.map__form-choose-btn {
  display: block;
  color: #004e98;
  margin-left: 40%;
}

.map__form-submit-btn:disabled {
  display: block;
  color: #ffffff;
  background-color: lightgrey;
  margin: auto;
  margin-top: 25px;
}

.map__form-submit-btn:enabled {
  display: block;
  color: #ffffff;
  background-color: #004e98;
  margin: auto;
  margin-top: 25px;
  cursor: pointer;
}

#button__choose {
  cursor: pointer;
  background: none;
  border: none;
  width: 60px;
  border-radius: 7px;
  color: #004e98;
  margin-top: 30px;
}

#button__choose:hover {
  cursor: pointer;
  color: #f83b15;
}

#button__choose:focus {
  outline: none;
}

#input__choose {
  display: none;
}

#span-text__choose {
  color: #004e98;
  font-size: 13px;
  position: relative;
  bottom: 10px;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;

  z-index: 9999;
  pointer-events: all;
}

#add-modal .modal__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}

.modal.visible {
  display: block;
  z-index: 9999;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal {
  background-image: url("../MarkerForm/lato2.jpg");
  background-size: cover;
  position: fixed;
  z-index: 100;
  width: 51%;
  height: 420px;
  top: 15vh;
  left: 25%;
  display: none;
}

.modal__close-btn {
  display: block;
  font: inherit;
  color: #004e98;
  background-color: #ffffff;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 2rem;
  margin-bottom: 35px;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal__text {
  margin-top: 250px;
  text-align: center;
  color: #ffffff;
}

.modal__img {
  width: 100%;
  filter: grayscale(100%);
}

#mapImg {
  cursor: pointer;
}
